@import "tailwindcss";


@theme {
  /* container */
  --container-sm: 500px;
  --container-md: 700px;
  --container-lg: 900px;
  --container-xl: 1100px;
  --container-2xl: 1300px;

  
  /* font family */
  --font-Aldrich: "Aldrich", "sans-serif";
  --font-Ubuntu: "Ubuntu", "serif";

  /* colors */
  --color-brand: #047efc;

  /* animations */
  --animate-rotate360: rotate360 3s linear infinite ;
  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
}
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
}
  }


}


@layer component{
/* common css */
.EffUnderline{
  @apply  after:absolute after:bottom-[-2px] after:left-0 after:w-[0] after:h-[1px] after:bg-brand after:duration-[.4s] hover:after:w-full;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}



}
